<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>A Hotel | Login</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <form th:action="@{/login}" method="POST">
            <div>
                <label>User Name: <input type="text" name="username" /></label>
                <label>Password: <input type="password" name="password" /></label>
            </div>
            <div>
                <input type="submit"  value="Login" />
            </div>
        </form>
    </body>
</html>
